.site--logo {
  max-width: 320px;
  color: #343a78 !important;
  margin: 1.5rem auto 1rem;
  text-align: center;
}

.form--wrapper {
  background: url(../img/bg.svg) center center no-repeat;
}

.ant-menu-horizontal {
  margin-bottom: 1rem;
  border-bottom: 0 none;
  line-height: 25px;
}

.form--container {
  padding: 20px 40px;
  max-width: 420px;
  min-height: 620px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);

}

.email-icon {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .form--container {
    max-width: 90%;
  }
}
